.button {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

//html-code
// <p class="w3-center">
// <button class="w3-button w3-grey button w3-text-white" onclick="myFunction()">Click me</button>
// </p>